footer{
    background-color: aquamarine;
    height: 25px;
    font-size: 1.3em;
    color: #fff;
    text-align: center;
    padding: 1.5em 2.0em;
}
footer ul#menuFooter{
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0.6em;
    padding: 0;
}
footer ul li{
    display: inline-block;
    padding: 0 0.7em 0 0;
    margin: 0;
}
footer a, footer a:visited {
    color: black;
    text-decoration: none;
}

footer a:hoover{
    color: aliceblue;
    text-decoration: underline;
}
